@import "~materialize-css/dist/css/materialize.min.css";

input.white-input {
  border-bottom: 1px solid #e0f2f1!important;
  box-shadow: 0 1px 0 0 #e0f2f1!important;
  color: #fff!important;
}

input.white-input + label {
  color: #e0f2f1!important;
}

input.white-input:focus + label {
  color: #ffffff!important;
}

input.white-input:focus {
  border-bottom: 1px solid #ffffff!important;
  box-shadow: 0 1px 0 0 #ffffff!important;
}